html, body {
    margin: 0;
    font-family: sans-serif;
    background: #fafafa;
}

h1, h2 {
    font-size: 2em;
    text-align: center;
}

h2 {
    margin-top: -1em;
    font-size: 1.1em;
}

p {
    margin-top: 5em;
    font-size: 1.1em;
    text-align: center;
}

body > a {
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40%;
    padding: 20px 70px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #649900;
    border-radius: 5px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 8px 0 #568203;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

body > a.three {
    width: 25%;
}

body > a:hover {
    background-image: -webkit-linear-gradient(top, #649900, #6ca600);
    background-image: -moz-linear-gradient(top, #649900, #6ca600);
    background-image: linear-gradient(to top, #649900, #6ca600);
}

body > a:active {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    transform: translate(0, 4px);
    background-image: -webkit-linear-gradient(top, #6ca600, #75b300);
    background-image: -moz-linear-gradient(top, #6ca600, #75b300);
    background-image: linear-gradient(to top, #6ca600, #75b300);
    box-shadow: 0px 4px 0px #568203;
}

body > a {
    margin-left: 7.5%;
}

body > a + a {
    margin-left: 5%;
}

body > a + p {
    clear: left;
    margin-top: 7em;
    margin-bottom: 2em;
}

footer {
    position: absolute;
    right: 0;
    bottom: .5em;
    left: 0;
    margin-top: 10em;
    font-size: smaller;
    text-align: center;
}
